*/node_modules/*
*.anchor
*.DS_Store
anchor-solana-nft/target
**/*.rs.bk
anchor-solana-nft/test-ledger
anchor-solana-nft/.yarn
todo-list-app/target
todo-list-app/test-ledger
todo-list-app/.yarn

android-dapp/*.iml
android-dapp/.gradle
android-dapp/local.properties
android-dapp/.idea/caches
android-dapp/.idea/libraries
android-dapp/.idea/modules.xml
android-dapp/.idea/workspace.xml
android-dapp/.idea/navEditor.xml
android-dapp/.idea/assetWizardSettings.xml
android-dapp/.DS_Store
android-dapp/build
android-dapp/captures
android-dapp/.externalNativeBuild
android-dapp/.cxx
android-dapp/local.properties

waffle-maker/target
waffle-maker/test-ledger
waffle-maker/.yarn

trading-bot-phoenix/.env

solana-security-challenges/target
solana-security-challenges/test-ledger
solana-security-challenges/.yarn
solana-security-challenges/.env
